# To use this GitHub Actions for deploying the bot, please add a new secret "PUBLISH_PROFILE".
# This secret is the content of *.PublishSettings file downloaded from your Azure Web Apps.

name: Build and deploy Node.js app to Azure Web App

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    # Ignore the first trigger after this repo is cloned from the template.
    if: ${{ github.run_number > 1 }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - run: npm ci
      - run: npm run build --if-present
      # - run: npm test --if-present # Currently, bot samples will fail when running `npm test`.
      - run: npm pack
      - run: tar xvf *.tgz

      - name: Run zip -1rq ../zipdeploy.zip .
        run: |
          zip -1rq zipdeploy.zip node_modules
          cd package
          ls -laR
          zip -1rq ../zipdeploy.zip .

      - name: Upload artifact (tarball)
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: '*.tgz'

      - name: Upload artifact (Zip Deploy)
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: zipdeploy.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ startsWith(github.ref, 'refs/heads/') && secrets.PUBLISH_PROFILE }}

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: package

      - name: Deploy to Azure Web App
        id: deploy
        uses: azure/webapps-deploy@v1
        with:
          slot-name: production
          publish-profile: ${{ secrets.PUBLISH_PROFILE }}
          package: zipdeploy.zip
